* {
  font-family: "Outfit", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
}
.card {
  width: 300px;
  height: 450px;
  background-color: white;
  border-radius: 25px;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.qr-code-img {
  text-align: center;
  padding: 10px;
  border-radius: 15px;
}
.qr-code-img img {
  width: 250px;
}
p {
  font-size: 15px;
  color: hsl(216, 15%, 48%);
  padding: 20px;
}
